n8n-workflows/hackernews-news.json
{
  "name": "Hacker News to SQLite",
  "nodes": [
    {
      "parameters": {
        "jsCode": "const config = {\n  sqliteDbPath: '/data/news_aggregator.db',\n  \n  llmUrl: 'http://host.docker.internal:8080/v1/chat/completions',\n  llmModel: 'gpt-oss-20b',  // Change to any model in your config.yaml\n\n  hackerNews_posts: 25,\n};\n\nreturn [{ json: config }];"
      },
      "id": "197cb987-23bd-4c52-ba51-876fadbb9c00",
      "name": "Config",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -848,
        -368
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 6
            }
          ]
        }
      },
      "id": "e9e3cc64-fea0-4d6b-98e0-cd323b485e10",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1056,
        -368
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "7632502c-fb33-4741-a585-af8d32924df0",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -448,
        -368
      ]
    },
    {
      "parameters": {
        "jsCode": "// Extract article info and prepare for content fetching\nconst config = $('Config').first().json;\nconst data = $input.item.json;\n\n// Get the URL - HN items have 'url' for external links or use HN discussion URL\nconst articleUrl = data.url || `https://news.ycombinator.com/item?id=${data.objectID || data.id}`;\nconst hnUrl = `https://news.ycombinator.com/item?id=${data.objectID || data.id}`;\n\nreturn {\n  json: {\n    title: data.title,\n    url: articleUrl,\n    hnUrl: hnUrl,\n    points: data.points || 0,\n    numComments: data.num_comments || 0,\n    author: data.author || 'unknown',\n    objectID: String(data.objectID || data.id),\n    createdAt: data.created_at || null,\n    config: config\n  }\n};"
      },
      "id": "e567df9e-c116-49cf-ad7b-b37d24b8a230",
      "name": "Extract Article Info",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -256,
        -368
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36"
            },
            {
              "name": "Accept",
              "value": "text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          },
          "timeout": 15000
        }
      },
      "id": "aee52691-88fe-43f3-a5f0-f4d8fad632a4",
      "name": "Fetch Article Content",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -48,
        -368
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Extract text content from HTML and merge with article info\nconst input = $input.item.json;\n\n// Get article info passed from previous node\nconst articleInfo = $('Extract Article Info').first().json;\n\n// The HTTP response could be in different fields depending on response type and n8n version\n// When responseFormat is 'text', n8n puts the response in 'data' field\n// When there's an error, it might be in 'error' or just pass through the error object\nlet html = '';\nif (typeof input === 'string') {\n  html = input;\n} else if (input.data) {\n  html = String(input.data);\n} else if (input.body) {\n  html = String(input.body);\n} else if (input.response) {\n  html = String(input.response);\n}\n\n// Check if we got an error response\nconst hasError = input.error || input.errorMessage || (input.statusCode && input.statusCode >= 400);\n\n// Simple HTML to text conversion\nlet text = html\n  .replace(/<script[^>]*>[\\s\\S]*?<\\/script>/gi, '')\n  .replace(/<style[^>]*>[\\s\\S]*?<\\/style>/gi, '')\n  .replace(/<nav[^>]*>[\\s\\S]*?<\\/nav>/gi, '')\n  .replace(/<header[^>]*>[\\s\\S]*?<\\/header>/gi, '')\n  .replace(/<footer[^>]*>[\\s\\S]*?<\\/footer>/gi, '')\n  .replace(/<[^>]+>/g, ' ')\n  .replace(/&nbsp;/g, ' ')\n  .replace(/&amp;/g, '&')\n  .replace(/&lt;/g, '<')\n  .replace(/&gt;/g, '>')\n  .replace(/&quot;/g, '\"')\n  .replace(/&#39;/g, \"'\")\n  .replace(/\\s+/g, ' ')\n  .trim();\n\n// Limit text length for summarization\ntext = text.substring(0, 4000);\n\n// Determine if we have meaningful content (at least 100 chars of actual text)\nconst hasContent = !hasError && text.length > 100;\n\nreturn {\n  json: {\n    title: articleInfo.title,\n    url: articleInfo.url,\n    hnUrl: articleInfo.hnUrl,\n    points: articleInfo.points,\n    numComments: articleInfo.numComments,\n    author: articleInfo.author,\n    objectID: articleInfo.objectID,\n    createdAt: articleInfo.createdAt,\n    content: hasContent ? text : 'This is a link or discussion post without article content. Please summarize based on the title only.',\n    hasContent: hasContent,\n    config: articleInfo.config\n  }\n};"
      },
      "id": "ac7822b5-26e5-43a5-a112-386257e9763d",
      "name": "Parse HTML Content",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        144,
        -368
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.config.llmUrl }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: $json.config.llmModel, messages: [{ role: 'system', content: 'You are a helpful assistant that summarizes articles concisely. Create a 2-3 sentence summary that captures the key points. Be direct and informative. Do not use markdown formatting.' }, { role: 'user', content: 'Summarize this article titled \"' + $json.title + '\":\\n\\n' + $json.content }], temperature: 0.3, max_tokens: 300 }) }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "timeout": 120000
        }
      },
      "id": "d37dbc51-1914-4309-97ed-c3eaca142ce2",
      "name": "Summarize with Local LLM",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        352,
        -368
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Prepare data for Datasette Insert API\nconst articleInfo = $('Parse HTML Content').first().json;\nconst llmResponse = $input.item.json;\n\n// Extract summary from OpenAI-compatible response format\nlet summary = 'Summary generation failed';\n\ntry {\n  if (llmResponse && llmResponse.choices && llmResponse.choices[0] && llmResponse.choices[0].message && llmResponse.choices[0].message.content) {\n    summary = llmResponse.choices[0].message.content.trim();\n  } else if (llmResponse && llmResponse.content) {\n    summary = llmResponse.content.trim();\n  } else if (llmResponse && llmResponse.text) {\n    summary = llmResponse.text.trim();\n  } else if (llmResponse && llmResponse.error) {\n    summary = 'LLM Error: ' + JSON.stringify(llmResponse.error);\n  } else if (llmResponse && llmResponse.message) {\n    // Sometimes errors come as { message: 'error text' }\n    summary = 'Error: ' + llmResponse.message;\n  } else {\n    summary = 'No valid response from LLM. Response: ' + JSON.stringify(llmResponse).substring(0, 200);\n  }\n} catch (e) {\n  summary = 'Error parsing LLM response: ' + e.message;\n}\n\n// Calculate engagement score\nconst engagementScore = articleInfo.points + articleInfo.numComments;\n\n// Prepare metadata JSON for HackerNews-specific fields\nconst metadata = JSON.stringify({\n  hn_url: articleInfo.hnUrl,\n  type: 'story'\n});\n\n// Return data matching the news_items table schema\nreturn {\n  json: {\n    platform: 'hackernews',\n    external_id: String(articleInfo.objectID),\n    title: articleInfo.title,\n    summary: summary,\n    url: articleInfo.url,\n    author: articleInfo.author || 'unknown',\n    upvotes: articleInfo.points || 0,\n    downvotes: 0,\n    comments_count: articleInfo.numComments || 0,\n    engagement_score: engagementScore,\n    category: 'front_page',\n    thumbnail_url: null,\n    published_at: articleInfo.createdAt || null,\n    metadata: metadata\n  }\n};"
      },
      "id": "69db36dc-add4-4dec-952f-91f0e8101958",
      "name": "Prepare for SQLite",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        544,
        -368
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://lllm-datasette:8001/-/insert/news_aggregator/news_items?replace=1",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.DATASETTE_INSERT_TOKEN }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "timeout": 10000
        }
      },
      "id": "cf6d9d75-d503-475f-a2a2-6658b5483129",
      "name": "Save to SQLite",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        752,
        -368
      ]
    },
    {
      "parameters": {
        "resource": "all",
        "limit": "={{ $json.hackerNews_posts }}",
        "additionalFields": {
          "tags": [
            "front_page"
          ]
        }
      },
      "type": "n8n-nodes-base.hackerNews",
      "typeVersion": 1,
      "position": [
        -656,
        -368
      ],
      "id": "90c701f8-0671-45b8-9be1-6a44556423cd",
      "name": "Get Top Posts"
    }
  ],
  "pinData": {},
  "connections": {
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Extract Article Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Article Info": {
      "main": [
        [
          {
            "node": "Fetch Article Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Article Content": {
      "main": [
        [
          {
            "node": "Parse HTML Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse HTML Content": {
      "main": [
        [
          {
            "node": "Summarize with Local LLM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize with Local LLM": {
      "main": [
        [
          {
            "node": "Prepare for SQLite",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare for SQLite": {
      "main": [
        [
          {
            "node": "Save to SQLite",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save to SQLite": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config": {
      "main": [
        [
          {
            "node": "Get Top Posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Top Posts": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "c868cb9f-e077-45d9-82c0-e742203e6cea",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "174d1d97b115aa1370077cd95974f6ef935834bbc57dae8c93e03ef97933c6d6"
  },
  "id": "wGzOYc3ZuC5eFRYj",
  "tags": [
    {
      "updatedAt": "2025-12-04T15:21:22.695Z",
      "createdAt": "2025-12-04T15:21:22.695Z",
      "id": "9pB6ghsbTzKQzXRp",
      "name": "discord"
    },
    {
      "updatedAt": "2025-12-05T07:26:25.724Z",
      "createdAt": "2025-12-05T07:26:25.724Z",
      "id": "GpYmB9yPBawNM4hJ",
      "name": "github"
    },
    {
      "updatedAt": "2025-12-04T15:21:22.694Z",
      "createdAt": "2025-12-04T15:21:22.694Z",
      "id": "X6cxmsCFwMLW6CZJ",
      "name": "automation"
    },
    {
      "updatedAt": "2025-12-04T15:21:22.692Z",
      "createdAt": "2025-12-04T15:21:22.692Z",
      "id": "ntZT90gtTiNA9tYs",
      "name": "news"
    },
    {
      "updatedAt": "2025-12-06T10:33:31.314Z",
      "createdAt": "2025-12-06T10:33:31.314Z",
      "id": "ooJOi8AmuXEdeJal",
      "name": "sqlite"
    },
    {
      "updatedAt": "2025-12-06T10:33:31.321Z",
      "createdAt": "2025-12-06T10:33:31.321Z",
      "id": "dKOdBYvynAtd4edu",
      "name": "hackernews"
    },
    {
      "updatedAt": "2025-12-06T10:33:31.327Z",
      "createdAt": "2025-12-06T10:33:31.327Z",
      "id": "JorrG9lmzOLmXA8d",
      "name": "ai-summary"
    }
  ]
}